*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #333;
}
li,ul{
    list-style: none;
}
/* 공통클래스 */
.ofh{
    overflow: hidden;
}
.w-1{
    width: 33.3333%;
}
.w-2{
    width: 66.6666%;
}
.w-h{
    width: 50%;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.w-100{
    width: 100px;
}
.container{
    width: 1000px
}

.d-flex{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}

#hd{
    align-items: center;
}
.logo{
    height: 100px;
    width: 200px;
    background-color:#ccc;
    line-height: 100px;
}
/*대메뉴*/
.d1a{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;}

.d1a:hover{
    background-color: pink;
}

/* 소메뉴 */
.f_gnb{
    height: 550px;
    background-color: #ccc;
}
#gnb{
    padding: 15px;
}
#gnb ul{
    background-color: #333;
    font-size: 18px;
    text-align:center;
    top: 100%;
    left:0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    z-index: 1000;
}

#gnb ul a{
    color: white;
}
.d2ul li:hover{
    background-color: pink;
}

/* A */
#gnb > li:hover ul{
    height: 7rem;
}

/* B + C */
/* #gnb:hover ul{
    height: 7rem;
} */

/* #gnb:after{
    content:"";
    position: absolute;
    background-color: black;
    left: 0; top: 100%; right: 0;
    height: 7rem;
    transition: 0.5s;
} */

#gnb:hover:after{
    height: 7rem;
}

/* fade */
#content, .ani > div{
    width: 800px;

}
.ani{
    width: 1000000px;
}
.ani > div{
    height: 350px;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.on{
    opacity: 1 !important;
}
#banner{
    overflow: hidden;
    height: 350px;
    margin-left: 3px;
}

/* tab  */
/* gnb:100px, tab2:500px, banner과direct:각200px -> 총 1000px */
.threediv{
    height: 200px;
    margin-left: 3px;
}
.tab2{
    width: 500px;
}
.banner {
    width: 200px;
}
.direct{
    width: 200px;
}
.act h2{
    color: red;
}
.act ul{
    z-index: 100000;
}
.tab2 li .abs{
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    background-color: white;
    height: 160px;
}
/* 공지사항 */
.notice ul{ 
    padding: 0 10px;
}
.notice ul li{
    padding: 8px 10px;
}
.notice li span {float:right;}
/* 갤러리 */
.gallery ul{
    align-items: center;
    justify-content: space-around;
}

/* footer */
.footer{
    height: 100px;
    align-items: center;
    background-color: #ccc;
    margin-left: 3px;

}
.f_logo{
    width: 300px;
}
.f_menu{
    width: 600px;
}



/* pop */
.pop{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #ccc;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
    z-index: 10000;
    display: none;
}
.pop.show{
    display: block;
}
.modal{
    width: 450px;
    padding: 20px;
}